<div id="mainDisplay">
  <h1 id="mainDescription">{{description}}</h1>
  <img src="{{product.image}}"/>
</div>
<button id="addToCart" {{action 'addToCart' product}}>Add to Cart</button>
{{#if addedToCart}}
  <p>
    This item has been added to your cart.
  </p>
{{/if}}
