<h2>Administrator</h2>
{{new-product saveProduct="saveProduct"}}
<h3>Products</h3>

{{#each model as |product|}}
  {{product.name}}{{edit-product product=product updateProduct="updateProduct"}}
{{/each}}
