<div class="container">
  <div class="jumbotron">
    <h1>Clothes 'n Shit</h1>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/">T-Shirts</a></li>
        <li><a href="/">Hoodies</a></li>
        <li><a href="/">Hats</a></li>
        <li><a href="/">Clearance</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </nav>
  {{outlet}}
</div>
