{{product-main product=model.product}}

<div class="well" id="comments">
  <h1>Reviews</h1>
  {{new-comment addReview="addReview" product=model.product}}
  {{comment-list product=model.product}}
</div>
